/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@import url('https://use.fontawesome.com/releases/v5.0.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    width: 100vw;

}

.firstPart {
    display:flex;
    justify-content: center;
    flex-direction: column;
}


nav {
    background-color: #540B51;
}

header{
    color: white;
    font-weight: 300;
}

.firstPart span:nth-child(1)  {
    color: #ECB12F;
    font-weight: 500;
}

.signUp {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;  
}

.SignupEmail  {
    color: #540B51;
    text-transform: uppercase;
    background-color: white;
    border: none;
    border-radius: 3px;   
}

main img {
    width: 10%;
}

main span, h3 {
    color: #540B51;
    font-weight: 700;
    font-size: 1.8rem;
}

#fraseCifras {
    font-weight: 400;
    font-size: 0.8rem;
}


#cifras li {
    list-style-type: none;
    margin-bottom: 2rem;
    
}

#cifras {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



li p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    
}

#cifras h3 {
    margin: 50px 30px 0 30px;
}

#hq {
    display: flex;
    background-color: #540B51;
    flex-direction: column;
    text-align: center;
    align-items: center;
    }

#hq h3 {
    color: white;
    margin: 40px ;
    }

#hq button {
    height: 2.5rem;
    border-radius: 3px;
    width: 92%;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

#freebutton {
    background-color: white;
    color: #540B51;
    border: 2px solid white;
}

#salesbutton {
    color: white;
    background-color: #540B51;
    border: 1px solid white;
    margin-bottom: 35px;
    margin-top: 15px;  
}


footer ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    margin: 1rem;
}

footer li {
    margin-bottom: 15px;
}


#redes {
    display: flex;
    justify-content: space-between;

}



#theEnd{
    color: #454245;
    text-align: center;
    align-items: center;
}


#footerlinks li:nth-last-child(1){
    list-style-image: url('../images/icon-download.png');
    text-align: left;
    margin-left: 30px;
    
    
}

#footerlinks li:nth-last-child(2){
    list-style-image: url('../images/icon-region.png');
    margin-left: 30px;
    text-align: left;
}


nav{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

nav ul {
    display: none;
    }

.firstPart {
        background-color:#540B51;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    header button {
    height: 2.5rem;
    margin: 0.3rem;
    border-radius: 3px;
    border: none;
    width: 92%;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

    }

    #logoGoogle {
        display: flex;
        width: 20px;
        background-color: white;
        position: ;
        left: 20px;
        padding: 4px ;
        right: 85%;
        position: absolute;
        
    
    } 
    
    .signUpGoogle {
         background-color: #4285F4 ;
        color: white;
        text-align: center;
        flex-grow: 90;
        align-items: center;
        display: flex;
        position: relative;
         }

         .buttonNav button{
            background: none;
            border-style: none;
            justify-content: row;
        }
        
        .buttonNav{
            display: flex;
            justify-content: row;
            margin: 1rem;
        }

        #logo {
            display: flex;
            flex-direction: column ;
            background-color: #F3EAE2; 
            margin-top: -7px;
            padding: 15px 15px ;

        } 

        #download {
            color: #2E71A6;
        }



@media (width < 768px){

.logoSlack{
    width: 20%;
    margin : 1rem;
    display: flex;
    align-items: center;
}




h1{
    margin: 0px;
    color: white;
    padding: 20px 20px 0 20px;
    align-items: center;
    justify-content: center;
    }

.signUp {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif; 
    width: 100%; 
    justify-content: center;  
    align-items: center;
    margin-bottom: 1rem;
}






#imgGrande {
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
}




#trustedcompany {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.8rem;
}

#try {
    height: auto;
}

#logocompany {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}


main img {
    width: 3.5rem;
    height: auto ;
}

#cifras ul {
    padding: 0;
    width: 40%;
    font-size: 0.6rem;
}

#footerlinks{
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    }



}
/* *****************MOBILE SCREENS******************* */
@media (min-width: 768px) and  (max-width: 1024px ){

    .logoSlack{
        width: 30%;
        margin : 1rem;
        display: flex;
        align-items: center;
    }

    main img {
        width: .5rem;
        height: auto ;
    }

header {
    display:flex; 
    flex-direction: row;
    height: 700px;
    
}

.firstPart{
    width: 60%;
    background-image: url('../images/background-singup.png');
    background-size: cover;
    text-align: left;  
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start ;
    padding: 40px 20px 60px 20px;
}

#try {
    width: 40%;
    overflow: hidden;  
    background-color: #540B51; 
    display: flex;
    align-items: center;
}

#try img {
    max-width: auto ;
    height: 40%;  
}

h1 {
    text-align: left;
    margin: 0;
    font-size: 3.5rem;
}

.signUp {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#trustedcompany {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
}

#logocompany {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    
}

main img {
    width: 5rem;
    height: auto ;
}

#logo {
    display: flex;
    flex-direction: column ;
    background-color: #F3EAE2; 
    margin-top: -7px;
    padding: 50px 40px ;
} 

#cifras ul {
    padding: 0;
    font-size: 0.6rem;
    flex-direction: row;
    display: flex;
    gap:90px;
    justify-content: space-around;
    text-align: left;
    margin: 50px 40px 20px 40px;
}

.subtextCifras {
    text-align: left;
}

#footerlinks{
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    }

}

#redes {
    display: flex;
    justify-content: space-between;
    width: 40%;

}

#theEnd{
    margin-top: 20px;
    color: #454245;
    text-align: left;
    align-items: flex-start;
}


